
* {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    min-height: 100vh;
  }
  section {
    display: inline-flex;
  }
  .image {
    display: inherit;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  