$color--blue:blue;
$size--100px:100px;
.div{
    width:$size--100px;
height:$color--blue;
background-color:$color--blue;
}
.div2{
    width:$size--100px;
    height:$color--blue;
    background-color:$color--blue;

}
.div3{
    width:$size--100px;
    height:$color--blue;
    background-color:$color--blue;
}